@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Geral */

*{
  margin: 0%;
  padding: 0%;
  font-family: "Raleway", sans-serif;
  color: #464646;
}

body{
  background-color: #F5F5F5;
}

/* Cabeçalho */

header{
  padding: 4% 9% 10% 9%;
  display: flex;
  justify-content: space-between;
}

header > a{
  display: flex;
}

a{
  text-decoration: none;
}

header > a > h3{
  margin-left: 5px;
  font-size: 20px;
}

nav > a{
  font-weight: 600;
  font-size: 18px;
  padding-left: 22px;
}

nav > a:hover{
  color: #58585885;
}

nav a[href="mailto:vitorvalentin840@gmail.com"] {
  font-weight: 700;
}

/* Section Apresentação */

#apresentacao{
  padding: 0% 9% 10% 9%;
  display: flex;
  flex-direction: row-reverse;
}

#apresentacaoTexto{
  margin: auto;
}

#apresentacaoTexto > h1{
  font-size: 52px;
  font-weight: 700;
  line-height: 61.05px;
  text-align: left;
  padding-bottom: 24px;
  text-align: justify;
}

#apresentacaoTexto > p{
  font-size: 22px;
  font-weight: 400;
  line-height: 25.83px;
  text-align: left;
  padding-bottom: 24px;
  text-align: justify;
}

#apresentacaoTexto > ul{
  width: 70%;
  display: flex;
  justify-content: space-between;
}

#apresentacaoTexto > ul > li{
  list-style-type: none;
  display: flex;
}

#apresentacaoTexto > ul > li > a{
  font-size: 18px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: left;
  display: flex;
  align-items: center;
}

#apresentacaoTexto > ul > li > a:hover{
  color: #58585885;
}

#apresentacao > div > img{
  width: 368px;
  height: 368px;
  gap: 0px;
  opacity: 0px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.363);
  margin-left: 5%;
}

/* Section Sobre Mim */

#sobreMim{
  padding: 0% 9% 4% 9%;
  background-color: #EAF2FD;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.438);
}

#sobreMim > h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  padding-top: 5%;
  padding-bottom: 2%;
}

#sobreMim > p{
  font-size: 17px;
  font-weight: 400;
  line-height: 18.78px;
  padding-right: 30%;
  padding-bottom: 2%;
  text-align: justify;
}

/* Section Skills */

#skills{
  padding: 6% 8% 0% 8%;
}

#skills > h2{
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
}

.divPai{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3%;
}

.divFilho{
  width: 176px;
  height: 174px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.363);
  margin-top: 5%;
}

.divFilho > img{
  width: 50px;
  height: 50px;
  padding-bottom: 5%;
}

.divFilho > p{
  font-size: 16px;
  font-weight: 700;
  line-height: 18.78px;
  padding-bottom: 7%;
  text-align: center;
}

/* Section Hobbies */

#hobbies{
  padding: 7% 9% 0% 9%;
}

#hobbies > h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: center;
}

/* Section Formação */

#formacao{
  padding: 0% 9% 5% 9%;
  margin-top: 10%;
  background-color: #EAF2FD;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.438);
}

#formacao > h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: center;
  padding-top: 5%;
}

#formacao > div > div > img{
  width: 400px;
  height: 320px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.363);
  margin-top: 8%;
}

#formacao > div > div > h3{
  font-size: 20px;
  font-weight: 700;
  line-height: 25.83px;
  padding-top: 3%;
  padding-bottom: 1%;
}

#formacao > div > div > p{
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
}

/* Section Projetos */

#projetos{
  padding: 5% 9% 5% 9%;
}

#projetos > h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: center;
  padding-bottom: 5%;
}

#projetos > div{
  display: flex;
  padding-bottom: 6%;
}

#projetos > div > img{
  width: 752px;
  height: 406px;
  border: 1px solid rgba(0, 0, 0, 0.158);
  box-shadow: 0px 4px 4px 0px #00000065;
  border-radius: 8px;
  margin-right: 5%;
}

#projetos > div > div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#projetos > div > div > h3{
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
  padding-bottom: 2%;
}

#projetos > div > div > p{
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  padding-bottom: 6%;
}

#projetos > div > div > div{
  display: flex;
  gap: 5%;
}

#projetos > div > div > div > a{
  padding: 5.5%;
  border: 1px solid #2A7AE4;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  border-radius: 5px;
}

.buttonReposiroio{
  color: #2A7AE4;
}

.buttonReposiroio:hover{
  color: #2a7be4d5;
  background-color: #d8d8d84b;
}

.buttonProjeto{
  background-color: #2A7AE4;
  color: #FFFFFF;
}

.buttonProjeto:hover{
  background-color: #2a7be4c9;
  color: #ffffffce;
}

.inverter{
  flex-direction: row-reverse; 
}

.inverter > img{
  margin-left: 5%;
}

/* Section Contato */

#contato{
  background-color: #EAF2FD;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.438);
  padding: 5% 9% 5% 9%;
  display: flex;
}

#contato > img{
  width: 610px;
  height: 610px;
  margin-right: 4%;
}

#contato > div > h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  padding-bottom: 1.3%;
}

#contato > div > p{
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
}

#contato > div > form{
  padding-top: 5%;
}

#contato > div > form > input{
  width: 540px;
  height: 40px;
  border-color: #ffffff10;
  border-radius: 5px;
  margin-bottom: 5%;
  padding-left: 1.5%;
  font-size: 18px;
  font-weight: 400;
}

::placeholder{
  font-size: 18px;
  font-weight: 600;
  color: #8a8a8a;
}

#contato > div > form > textarea{
  width: 540px;
  height: 160px;
  border-color: #ffffff10;
  border-radius: 5px;
  margin-bottom: 5%;
  padding-left: 1.5%;
  padding-top: 1.5%;
  font-size: 18px;
  font-weight: 400;
}

#contato > div > form > button{
  width: 165px;
  height: 51px;
  background-color: #2A7AE4;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  border-radius: 5px;
  border-color: #2A7AE4;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.438);
  cursor: pointer;
}

#contato > div > form > button:hover{
  background-color: #2a7be4d8;
  border-color: #2a7be4d8;
}

/* Rodapé */

#rodaPe{
  width: 100%;
  height: 102px;
  background-color: #FFFFFF;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* CSS para Tablet */

@media screen and (min-width: 760px) and (max-width: 1145px){
  /* Cabeçalho */

  header{
    padding: 2.5% 3.5% 6% 3.5%;
  }

  nav a:not(:last-child) {
    display: none;
  }

  /* Section Apresentação */

  #apresentacao{
    padding: 0% 3.5% 6% 3.5%;
  }

  #apresentacaoTexto > h1{
    font-size: 27px;
    line-height: 25.83px;
    padding-bottom: 16px;
  }

  #apresentacaoTexto > p{
    font-size: 19px;
    line-height: 18.78px;
    padding-bottom: 18px;
  }

  #apresentacao > div > img{
    width: 250px;
    height: 250px;
  }

  /* Section Sobre Mim */

  #sobreMim{
    padding: 0% 3.5% 3% 3.5%;
  }

  #sobreMim > h2{
    font-size: 26px;
    line-height: 25.83px;
    padding-top: 3%;
  }

  #sobreMim > p{
    font-size: 15px;
    line-height: 16.44px;
    padding-right: 0%;
  }

  /* Section Skills */

  #skills{
    padding: 5% 3.5% 0% 3.5%;
  }

  #skills > h2{
    font-size: 27px;
    line-height: 25.83px;
  }
  
  .divFilho{
    width: 200px;
    height: 118px;
  }
  
  .divFilho > img{
    width: 40px;
    height: 40px;
    padding-bottom: 3%;
  }
  
  .divFilho > p{
    font-size: 15px;
    padding-bottom: 5%;
  }

  /* Section Hobbies */

  #hobbies{
    padding: 7% 3.5% 0% 3.5%;
  }

  #hobbies > h2{
    font-size: 27px;
    line-height: 25.83px;
  }

  /* Section Formação */

  #formacao{
    padding: 0% 3.5% 3% 3.5%;
    margin-top: 7%;
  }

  #formacao > h2{
    font-size: 27px;
    line-height: 25.83px;
    padding-top: 3%;
  }

  #formacao > div > div > img{
    width: 350px;
    height: 240px;
  }

  #formacao > div > div > h3{
    font-size: 19px;
    line-height: 18.78px;
    padding-bottom: 2%;
  }

  #formacao > div > div > p{
    font-size: 15px;
    line-height: 16.44px;
  }

  /* Section Projetos */

  #projetos{
    padding: 5% 3.5% 0% 3.5%;
  }

  #projetos > h2{
    font-size: 27px;
    line-height: 25.83px;
    padding-bottom: 3.5%;
  }

  #projetos > div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #projetos > div > img{
    width: 700px;
    height: 400px;
    margin-right: 0%;
    margin-bottom: 3%;
  }

  #projetos > div > div > h3{
    font-size: 20px;
    line-height: 18.78px;
  }

  #projetos > div > div > p{
    font-size: 15px;
    padding-bottom: 4%;
  }

  #projetos > div > div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }

  #projetos > div > div > div > a{
    padding: 6%;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.44px;
  }

  .inverter > img{
    margin-left: 0%;
  }

  /* Section Contato */

  #contato{
    padding: 3% 3.5% 3% 3.5%;
  }

  #contato > img{
    display: none;
  }

  #contato > div > h2{
    font-size: 27px;
    padding-bottom: 0.6%;
  }

  #contato > div > p{
    font-size: 15px;
  }

  #contato > div > form{
    padding-top: 4%;
  }

  #contato > div > form > input{
    width: 680px;
    height: 46px;
    margin-bottom: 3%;
    font-size: 16px;
  }

  ::placeholder{
    font-size: 16px;
  }

  #contato > div > form > textarea{
    width: 680px;
    height: 110px;
    margin-bottom: 3%;
    font-size: 16px;
  }

  #contato > div > form > button{
    width: 151px;
    height: 40px;
    font-size: 15px;
  }

  /* Rodapé */

  #rodaPe{
    height: 80px;
    font-size: 15px;
  }
}

/* CSS para Mobile */

@media screen and (max-width: 759px){
  /* Cabeçalho */

  header{
    padding: 3% 6% 6% 6%;
  }

  header > a > img{
    width: 20px;
    height: 20px;
  }

  header > a > h3{
  margin-left: 3px;
  font-size: 16px;
  }

  nav > a{
    font-size: 14px;
    padding-left: 0px;
  }
  nav a[href="mailto:vitorvalentin840@gmail.com"] {
    font-weight: 500;
  }

  nav a:not(:last-child) {
    display: none;
  }

  /* Section Apresentação */

  #apresentacao{
    padding: 0% 6% 10% 6%;
    flex-direction: column;
  }

  #apresentacaoTexto > h1{
    font-size: 22px;
    line-height: 25.83px;
    padding-bottom: 12px;
  }

  #apresentacaoTexto > p{
    font-size: 14px;
    line-height: 16.44px;
    padding-bottom: 12px;
  }

  #apresentacaoTexto > ul{
    width: 100%;
  }

  #apresentacaoTexto > ul > li > a{
    font-size: 14px;
    line-height: 16.44px;
  }

  #apresentacaoTexto > ul > li > a > img{
    height: 18px;
    width: 18px;
  }

  #apresentacao > div > img{
    width: 170px;
    height: 170px;
    margin-bottom: 2%;
  }

  /* Section Sobre Mim */

  #sobreMim{
    padding: 0% 6% 4% 6%;
  }

  #sobreMim > h2{
    font-size: 22px;
    line-height: 25.83px;
    padding-top: 4%;
    padding-bottom: 2%;
  }

  #sobreMim > p{
    font-size: 14px;
    line-height: 16.44px;
    text-align: justify;
    padding-right: 0%;
    padding-bottom: 3%;
  }

  #sobreMim > img{
    width: 100px;
    height: 45px;
  }

  /* Section Skills */

  #skills{
    padding: 10% 6% 0% 6%;
  }

  #skills > h2{
    font-size: 24px;
    line-height: 25.83px;
  }

  .divPai{
    margin-top: 3%;
  }

  .divFilho{
    width: 140px;
    height: 120px;
  }

  .divFilho > img{
    width: 38px;
    height: 38px;
    padding-bottom: 3%;
  }

  .divFilho > p{
    font-size: 13px;
    padding-bottom: 2%;
  }

  /* Section Hobbies */

  #hobbies{
    padding: 10% 6% 0% 6%;
  }

  #hobbies > h2{
    font-size: 24px;
    line-height: 25.83px;
  }

  /* Section Formação */

  #formacao{
    padding: 0% 6% 7% 6%;
    margin-top: 15%;
  }

  #formacao > h2{
    font-size: 24px;
    line-height: 25.83px;
  }

  #formacao > div > div > img{
    width: 100%;
    height: 200px;
    margin-top: 7%;
  }

  #formacao > div > div > h3{
    font-size: 16px;
    padding-top: 2%;
    padding-bottom: 0%;
  }

  #formacao > div > div > p{
    font-size: 14px;
  }

  /* Section Projetos */

  #projetos{
    padding: 10% 6% 6% 6%;
  }
  
  #projetos > h2{
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 7%;
  }
  
  #projetos > div{
    padding-bottom: 10%;
    flex-direction: column;
  }
  
  #projetos > div > img{
    width: 100%;
    height: 200px;
    margin-right: 0%;
  }

  #projetos > div > div{
    text-align: center;
  }
  
  #projetos > div > div > h3{
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    padding-top: 4%;
  }
  
  #projetos > div > div > p{
    font-size: 13px;
    line-height: 14px;
    padding-bottom: 3%;
  }

  #projetos > div > div > div{
    justify-content: center;
  }
  
  #projetos > div > div > div > a{
    padding: 3%;
    font-size: 14px;
    line-height: 14px;
  }
  
  .inverter > img{
    margin-left: 0%;
  }

  /* Section Contato */

  #contato{
    padding: 6% 6% 10% 6%;
  }

  #contato > img{
    display: none;
  }

  #contato > div > h2{
    font-size: 26px;
    line-height: 28px;
  }

  #contato > div > p{
    font-size: 14px;
    line-height: 17px;
  }

  #contato > div > form{
    padding-top: 3%;
  }

  #contato > div > form > input{
    width: 90%;
    height: 30px;
    margin-bottom: 4%;
    padding-left: 1.5%;
    font-size: 14px;
  }

  ::placeholder{
    font-size: 14px;
  }

  #contato > div > form > textarea{
    width: 90%;
    height: 100px;
    font-size: 14px;
  }

  #contato > div > form > button{
    width: 150px;
    height: 45px;
    font-size: 15px;
  }

  /* Rodapé */

  #rodaPe{
    height: 80px;
    font-size: 14px;
  }
}