@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0%;
  padding: 0%;
  font-family: "Raleway", sans-serif;
  color: #464646;
}

body{
  background-color: #F5F5F5;
}

header{
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 4%;
  padding-bottom: 10%;
  display: flex;
  justify-content: space-between;
}

header > a{
  display: flex;
}

a{
  text-decoration: none;
}

header > a > h3{
  margin-left: 5px;
  font-size: 20px;
}

nav > a{
  font-weight: 600;
  font-size: 18px;
  padding-left: 22px;
}

nav > a:hover{
  color: #58585885;
}

nav a[href="mailto:vitorvalentin840@gmail.com"] {
  font-weight: 700;
}

#apresentacao{
  padding-left: 9%;
  padding-right: 9%;
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 10%;
}

#apresentacaoTexto{
  margin: auto;
}

#apresentacaoTexto > h1{
  font-size: 52px;
  font-weight: 700;
  line-height: 61.05px;
  text-align: left;
  padding-bottom: 24px;
}

#apresentacaoTexto > p{
  font-size: 22px;
  font-weight: 400;
  line-height: 25.83px;
  text-align: left;
  padding-bottom: 24px;
}

#apresentacaoTexto > ul{
  width: 70%;
  display: flex;
  justify-content: space-between;
}

#apresentacaoTexto > ul > li{
  list-style-type: none;
  display: flex;
}

#apresentacaoTexto > ul > li > a{
  font-size: 18px;
  font-weight: 500;
  line-height: 18.78px;
  text-align: left;
  display: flex;
  align-items: center;
}

#apresentacaoTexto > ul > li > a:hover{
  color: #58585885;
}

#apresentacao > div > img{
  width: 368px;
  height: 368px;
  gap: 0px;
  opacity: 0px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.363);
}


#sobreMim{
  padding-left: 9%;
  padding-right: 9%;
  padding-bottom: 50px;
  background-color: #EAF2FD;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.438);
}

#sobreMim > h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  padding-top: 5%;
  padding-bottom: 2%;
}

#sobreMim > p{
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  padding-right: 30%;
  padding-bottom: 2%;
}

#skills{
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 6%;
}

#skills > h2{
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  padding-bottom: 5%;
}

.divPai{
  display: flex;
  justify-content: space-between;
}

.divFilho{
  width: 176px;
  height: 174px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.363);
}

.divFilho > img{
  width: 50px;
  height: 50px;
  padding-bottom: 5%;
}

.divFilho > p{
  font-size: 16px;
  font-weight: 700;
  line-height: 18.78px;
  padding-bottom: 7%;
  text-align: center;
}

#hobbies{
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 7%;
}

#hobbies > h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: center;
  padding-bottom: 5%;
}

#formacao{
  padding-left: 9%;
  padding-right: 9%;
  margin-top: 10%;
  padding-bottom: 5%;
  background-color: #EAF2FD;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.438);
}

#formacao > h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

#formacao > div > div > img{
  width: 368px;
  height: 347px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.363);
}

#formacao > div > div > h3{
  font-size: 20px;
  font-weight: 700;
  line-height: 25.83px;
  padding-top: 3%;
}

#formacao > div > div > p{
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
}

#projetos{
  padding: 5% 9% 5% 9%;
}

#projetos > h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  text-align: center;
  padding-bottom: 5%;
}

#projetos > div{
  display: flex;
  padding-bottom: 6%;
}

#projetos > div > img{
  width: 752px;
  height: 406px;
  border: 1px solid rgba(0, 0, 0, 0.158);
  box-shadow: 0px 4px 4px 0px #00000065;
  border-radius: 8px;
  margin-right: 5%;
}

#projetos > div > div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#projetos > div > div > h3{
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
  padding-bottom: 2%;
}

#projetos > div > div > p{
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  padding-bottom: 6%;
}

#projetos > div > div > div{
  display: flex;
  justify-content: space-between;
}

#projetos > div > div > div > a{
  padding: 5.5%;
  border: 1px solid #2A7AE4;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  border-radius: 5px;
}

.buttonReposiroio{
  color: #2A7AE4;
}

.buttonReposiroio:hover{
  color: #2a7be4d5;
  background-color: #d8d8d84b;
}

.buttonProjeto{
  background-color: #2A7AE4;
  color: #FFFFFF;
}

.buttonProjeto:hover{
  background-color: #2a7be4c9;
  color: #ffffffce;
}

.inverter{
  flex-direction: row-reverse; 
}

.inverter > img{
  margin-left: 5%;
}

#contato{
  background-color: #EAF2FD;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.438);
  padding: 5% 9% 5% 9%;
  display: flex;
}

#contato > img{
  width: 610px;
  height: 610px;
  margin-right: 4%;
}

#contato > div > h2{
  font-size: 32px;
  font-weight: 700;
  line-height: 37.57px;
  padding-bottom: 1.3%;
}

#contato > div > p{
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
}

#contato > div > form{
  padding-top: 5%;
}

#contato > div > form > input{
  width: 560px;
  height: 40px;
  border-color: #ffffff10;
  border-radius: 5px;
  margin-bottom: 5%;
  padding-left: 1.5%;
  font-size: 18px;
  font-weight: 400;
}

::placeholder{
  font-size: 18px;
  font-weight: 600;
  color: #8a8a8a;
}

#contato > div > form > textarea{
  width: 560px;
  height: 160px;
  border-color: #ffffff10;
  border-radius: 5px;
  margin-bottom: 5%;
  padding-left: 1.5%;
  padding-top: 1.5%;
  font-size: 18px;
  font-weight: 400;
}

#contato > div > form > button{
  width: 165px;
  height: 51px;
  background-color: #2A7AE4;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  border-radius: 5px;
  border-color: #2A7AE4;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.438);
  cursor: pointer;
}

#contato > div > form > button:hover{
  background-color: #2a7be4d8;
  border-color: #2a7be4d8;
}

#rodaPe{
  width: 1,440px;
  height: 102px;
  background-color: #FFFFFF;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}